webservice/01-SchoolService/SchoolConsole/Connected Services/SchoolServiceReference/SchoolServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchoolServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchoolServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcourses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="courses" nillable="true" type="tns:courses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcourses" nillable="true" type="tns:ArrayOfcourses" />
  <xs:complexType name="courses">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="courses" nillable="true" type="tns:courses" />
  <xs:complexType name="ArrayOfstudents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="students" nillable="true" type="tns:students" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstudents" nillable="true" type="tns:ArrayOfstudents" />
  <xs:complexType name="students">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="students" nillable="true" type="tns:students" />
  <xs:complexType name="ArrayOfteachers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="teachers" nillable="true" type="tns:teachers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfteachers" nillable="true" type="tns:ArrayOfteachers" />
  <xs:complexType name="teachers">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="teachers" nillable="true" type="tns:teachers" />
</xs:schema>