webservice/SchoolService/SchoolConsole/Connected Services/SchoolServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SchoolService_now" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SchoolServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISchoolService_now_getCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:getCourses" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_getCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_getStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudents" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_getStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_getTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:getTeachers" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_getTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_addCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:addCourse" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_addCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_addStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:addStudent" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_addStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_addTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:addTeacher" />
  </wsdl:message>
  <wsdl:message name="ISchoolService_now_addTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTeacherResponse" />
  </wsdl:message>
  <wsdl:portType name="ISchoolService_now">
    <wsdl:operation name="getCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolService_now/getCourses" message="tns:ISchoolService_now_getCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolService_now/getCoursesResponse" message="tns:ISchoolService_now_getCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolService_now/getStudents" message="tns:ISchoolService_now_getStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolService_now/getStudentsResponse" message="tns:ISchoolService_now_getStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolService_now/getTeachers" message="tns:ISchoolService_now_getTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolService_now/getTeachersResponse" message="tns:ISchoolService_now_getTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolService_now/addCourse" message="tns:ISchoolService_now_addCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolService_now/addCourseResponse" message="tns:ISchoolService_now_addCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolService_now/addStudent" message="tns:ISchoolService_now_addStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolService_now/addStudentResponse" message="tns:ISchoolService_now_addStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolService_now/addTeacher" message="tns:ISchoolService_now_addTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolService_now/addTeacherResponse" message="tns:ISchoolService_now_addTeacher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISchoolService_now" type="tns:ISchoolService_now">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCourses">
      <soap:operation soapAction="http://tempuri.org/ISchoolService_now/getCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudents">
      <soap:operation soapAction="http://tempuri.org/ISchoolService_now/getStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeachers">
      <soap:operation soapAction="http://tempuri.org/ISchoolService_now/getTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <soap:operation soapAction="http://tempuri.org/ISchoolService_now/addCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <soap:operation soapAction="http://tempuri.org/ISchoolService_now/addStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTeacher">
      <soap:operation soapAction="http://tempuri.org/ISchoolService_now/addTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchoolService_now">
    <wsdl:port name="BasicHttpBinding_ISchoolService_now" binding="tns:BasicHttpBinding_ISchoolService_now">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SchoolServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>